/* 
HEIGHT: 
    % -> Cuando estamos dentro de un contenedor, este tiene que tener un alto declarado, sino no podrá 
        calcular el porcentaje. Si se le aplica una medida con porcentaje se sustituirá automáticamente
        por auto.
    
    auto -> Se calculará en base al contenido del elemento.

    Nota: Si no es necesario establecer un alto, hay que dejar que el contenido sea el que decida el alto
        del elemento.

*/

#caja-1 {
    width: 300px;
    height: 100%; /* Se ajustará al texto, no al 100% de la pantalla. */
    margin-right: 100px;
    margin-bottom: 50px;
    background-color: lightgreen;
}

#caja-2 {
    width: 300px;
    height: 300px; /* Se ajustará al texto, no al 100% de la pantalla. */
    margin-right: 100px;
    margin-bottom: 50px;
    background-color: lightgreen;
}

#caja-hijo-1 {
    width: 50%;                /* Es lo mismo poner: 100px; */
    height: 100%;               /* Es lo mismo poner: 100px; */
    background-color: blue;
}