/* 
LOS MÁRGENES VERTICALES COLAPSAN, SE TRASLAPAN.
*/

.header {
    background-color: navy;
    height: 100px;
    /* Maneras de solucionar el problema del colapsado de margen superior del menu del header. */
    overflow: hidden;
    /* padding-top: 0.1px; */
    /* border-top: 0.1px solid navy; */
}

.menu {
    color: white;
    margin: 0;
    margin-top: 30px;
}

.bloque-1,
.bloque-2 {
    background-color: purple;
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;
    margin-right: auto;
    margin-bottom: 15px;
    margin-left: auto;   
}

.bloque-2 {
    margin-top: 20px; /* No habrá ningún cambio porque el margin-bottom del bloque-1 se traslapa con el margin-top del bloque-2.*/
}