body {
    background-image: url("img/fondo_pantalla.jpg");
    background-size: cover;
    margin: 10px;
}

.title {
    color: white;
}

.botones {
    margin-bottom: 15px;
    border-radius: 10px;
    border-color: antiquewhite;
    cursor: pointer;
}