body {
    background-color: #4e0041;
    margin: 0;
}

.title {
    color: white;
}

.botones {
    margin-bottom: 15px;
    border-radius: 10px;
    border-color: antiquewhite;
    cursor: pointer;
}