/*Selectores*/

/* 
    - Selectores simples: 
        * Selectores elementales. 
            * Selector Universal -> *
            * Selector de tipo o etiqueta -> Nombre de la etiqueta
        * Selectores de atributo.
            * Selecotres de id -> 
            * Selectores de clase ->

    - Selectores compuestos:
        * Selectores agrupados.
        * Selectores combinados.
        * Pseudoclases - Pseudoelementos.
*/

/* Selector Universal */ 
* {
    background-color: rgb(224, 30, 65);;
}

/* Selector de tipo o etiqueta: Afecta a todos los p en este caso. */
p {
    color: #fff;
}

input {
    border-radius: 10px;
}