/* 
Position sticky deja de funcionar si la propiedad de overflow está declarada.
*/

img {
    display: block;
    height: 500px;
    width: 100%;
}

.header {
    background-color: rgb(212, 200, 90);
    color: purple;
    text-align: center;
    font-size: large;
    padding: 30px 0;
    height: 200px;
}

.navbar {
    position: sticky;
    top: 0;
}

.seccion {
    color: white;
    background-color: rgb(224, 30, 65);
    position: sticky;
    top: 0;
}

.parrafo {
    color: white;
}